.centerComponent{
  margin-top: 42px;
}

.centerComponent .center-main-heading{
  display: flex;
  justify-content: center;
}

.centerComponent .center-main-heading h1{
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  padding-bottom: 16px;
}

.centerComponent .center-info{
  display: flex;
  justify-content: center;
}

.centerComponent .center-info p{
  font-size: 20px;
  font-weight: 400;
  color: #555555;
  line-height: 48px;
}

.centerComponent .center-products{
  display: flex;
  justify-content: center;
}


.centerComponent .map{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding-top: 48px;
  padding-bottom: 90px;
  max-width: 1240px;
  width: 100%;
  margin: auto;
}

.centerComponent .product{
  text-align: center;
  max-width: 295px;
  width: 100%;
  max-height: 442px;
  height: 100vh;
}

.centerComponent .product img{
  width: 100%;
  transition: .5s ease;
  cursor: pointer;
}

.centerComponent .product .description{
display: flex;
flex-direction: column;
gap: 6px;
margin-top: 16px;
}

#loader{
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerComponent .product h2{
  font-weight: 800;
  font-size: 16px;
  line-height: 25px;
  color: #1D1D1D;
  margin-top: 16px;
  margin-bottom: 6px;
}

.centerComponent .product p{
  color: #024E82;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.centerComponent .product img:hover{
  transform: scale(1.1);
}

.centerComponent .center-footer{
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 82px;
}

.center-footer .descr-one{
  display: flex;
  gap: 22px;
}

.center-footer .descr-one h3{
margin-bottom: 8px;
font-weight: 600;
font-size: 16px;
line-height: 25px;
}

.center-footer .descr-one p{
  max-width: 189px;
  width: 100%;
  line-height: 19px;
  font-size: 16px;
  color: #555555;
  font-weight: 400;
}

@media only screen and (max-width: 975px){
  .centerComponent .center-footer {
      display: flex;
      justify-content: center;
      width: 100%;
      gap: 82px;
    }
}

@media only screen and (max-width: 800px){
.centerComponent .map{
  grid-template-columns: 1fr 1fr;
}

.centerComponent .center-footer{
  display: grid;
grid-template-columns: 1fr 1fr;
margin: auto;
max-width: fit-content;
gap: 30px;
}

}

@media only screen and (max-width: 670px){
  .centerComponent .map {
     grid-template-columns: 1fr;
     row-gap: 150px;
     text-align: center;
     max-width: 400px;
     width: 100%;
  }

  .centerComponent .map img{
    width: 100%;
  }

  .center-products{
    width: 100%;
  }

  .products-list{
    width: 100%;
  }

  .products-list .product{
    max-width: 400px;
    width: 100%;
  }

  .center-main-heading h1{
    text-align: center;
  }

  .centerComponent .center-footer{
    padding-left: 10px;
    padding-right: 10px;
  }

}

@media only screen and (max-width: 460px){
  .center-main-heading h1{
    font-size: 35px;
  }

  .centerComponent .products-list {
    grid-template-columns: 1fr;
    row-gap: 40px;
    text-align: center;
    max-width: 300px;
    width: 100%;
     }
    
   .centerComponent .products-list img {
     width: 100%;
     }
    
   .products-list .product {
    max-width: 300px;
    width: 100%; 
    }
    
   .center-main-heading h1 {
    text-align: center;
    }

    .centerComponent .map{
      row-gap: 30px;
    }

    .centerComponent .descr-one{
      flex-direction: column;
      text-align: center;
      gap: 10px;
    }
}
